<template>
  <q-item class="top-bar">
    <h4 class="text-white">Travel Cloud</h4>
    <q-btn align="left" flat icon="code" size="xl" color="white">
      <q-tooltip style="font-size: 15px">
        Kod: {{ state.id_clouda }}
      </q-tooltip>
    </q-btn>
    <div class="absolute-center" style="font-size: 20px; color: white">
      {{ state.naziv }}
    </div>
    <div style="font-size: 20px; color: white">
      <q-icon name="person" color="white" size="40px"></q-icon>
      {{ state.ime }}
    </div>
    <q-btn
      flat
      size="lg"
      color="white"
      class="absolute-right"
      icon="logout"
      @click="odjava"
    >
      <q-tooltip style="font-size: 15px">Odjava</q-tooltip>
    </q-btn>
  </q-item>
  <q-page class="full-width wrap justify-center items-center">
    <!-- konfiguracija mapboxa -->
    <MapboxMap
      style="height: 91vh"
      accessToken="pk.eyJ1IjoiaXZhbmFnMTIzIiwiYSI6ImNsZnRzdGczdTA0NXEza3AwNjA4M2wzdTQifQ.AjDqJ3us8GIMcJ854niNsw"
      mapStyle="mapbox://styles/mapbox/streets-v12"
      :center="[33, 30]"
      :zoom="2.7"
      @mb-mousedown="createMarker"
    >
      <!-- popup koji pita zeli li se dodati lokacija ili ne -->
      <MapboxPopup v-if="state.popupLngLat" :lngLat="state.popupLngLat">
        <div class="text-subtitle2">
          Zelite li dodati fotografije na ovu lokaciju?
        </div>
        <q-btn @click="spremiLokaciju">Da</q-btn>
        <q-btn @click="state.popupLngLat = null">Ne</q-btn>
      </MapboxPopup>
      <MapboxMarker
        v-for="marker of state.lokacije"
        v-bind:key="marker"
        :lngLat="marker.lngLat"
        default
      >
        <template v-slot:default>
          <q-icon
            @click="otvoriPopup(marker)"
            name="img:marker.png"
            size="3em"
          />
        </template>
      </MapboxMarker>
    </MapboxMap>
  </q-page>
  <!-- popup za pregled -->
  <q-dialog
    v-model="state.pregled"
    transition-show="scale"
    transition-hide="scale"
    full-height
    full-width
  >
    <q-card class="bg-teal text-white" align="center">
      <PregledSlika :mapa="state.odabranaLokacija"></PregledSlika>
    </q-card>
  </q-dialog>
</template>

<script>
import {
  doc,
  addDoc,
  collection,
  getDoc,
  query,
  onSnapshot,
  where,
} from "@firebase/firestore";
import { auth, db } from "src/boot/firebase";
import { defineComponent, onMounted, onUnmounted, reactive } from "vue";
import { signOut } from "@firebase/auth";
import { useRouter } from "vue-router";
import {
  MapboxMap,
  MapboxMarker,
  MapboxPopup,
} from "@studiometa/vue-mapbox-gl";
import "mapbox-gl/dist/mapbox-gl.css";
import PregledSlika from "./PregledSlika.vue";

export default defineComponent({
  name: "NaslovnaCloud",
  components: { MapboxMap, MapboxMarker, PregledSlika, MapboxPopup },
  setup() {
    const state = reactive({
      id_clouda: null,
      ime: "",
      naziv: "",
      imeMape: "",
      c: [],
      popupLngLat: null,
      pregled: false,
      lokacije: [],
      odabranaLokacija: null,
    });

    const router = useRouter();

    const spremiLokaciju = async () => {
      const randomIme = (Math.random() + 1).toString(36).substring(7);
      const lng = state.popupLngLat?.lng;
      const lat = state.popupLngLat?.lat;
      await addDoc(collection(db, "mape"), {
        to: "/travelcloud/" + randomIme,
        lng,
        lat,
        id_clouda: state.id_clouda,
      });
      state.popupLngLat = null;
    };

    const dohvatiIdClouda = async () => {
      let id_korisnika = auth.currentUser.uid;
      const korisnikRef = doc(db, "korisnik", id_korisnika);
      const docSnap = await getDoc(korisnikRef);
      state.id_clouda = docSnap.data().id_clouda;
      state.ime = docSnap.data().ime;
      dohvatiNazivClouda();
      dohvatiLokacije();
    };

    const dohvatiNazivClouda = async () => {
      const docRef = doc(db, "cloud", state.id_clouda);
      const docSnap = await getDoc(docRef);
      state.naziv = docSnap.data().naziv;
    };

    const createMarker = async (evt) => {
      if (evt.originalEvent.which === 3) {
        state.popupLngLat = { lng: evt.lngLat.lng, lat: evt.lngLat.lat };
      }
    };

    const otvoriPopup = (evt) => {
      state.odabranaLokacija = evt;
      state.pregled = true;
    };

    let unsubscribe;

    const dohvatiLokacije = async () => {
      const q = query(
        collection(db, "mape"),
        where("id_clouda", "==", state.id_clouda)
      );
      unsubscribe = onSnapshot(q, (querySnapshot) => {
        state.lokacije = [];
        let lokacije = [];
        querySnapshot.forEach((doc) => {
          let lokacija = {
            id: doc.id,
            lngLat: [doc.data().lng, doc.data().lat],
            to: doc.data().to ?? "",
          };
          lokacije.push(lokacija);
        });
        state.lokacije = lokacije;
      });
    };

    const odjava = () => {
      signOut(auth)
        .then(() => {
          router.push("/prijava");
        })
        .catch((error) => {
          console.log("Greska kod odjave");
        });
    };

    onMounted(() => {
      dohvatiIdClouda();
    });

    onUnmounted(() => {
      unsubscribe();
    });

    return {
      state,
      odjava,
      createMarker,
      otvoriPopup,
      spremiLokaciju,
    };
  },
});
</script>
<style>
.top-bar {
  display: flex;
  width: 100%;
  height: 8vh;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
  background-color: #222831;
}

.header {
  background-color: #393e46;
}
h5 {
  margin: 20px 0px;
}

#map {
  height: 100vh;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.distance-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.distance-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}
.mapboxgl-popup-close-button {
  display: none;
}
</style>
