<template>
  <div
    style="
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <!-- upload slike popup -->
    <div class="q-pa-md">
      <div class="q-gutter-sm row items-start">
        <q-btn
          label="Upload slike"
          icon="add_a_photo"
          color="primary"
          @click="persistent = true"
        />
        <q-btn class="absolute-top-right" flat label="zatvori" v-close-popup />
        <q-btn
          label="Izbriši ovaj folder"
          color="red"
          icon="delete"
          @click="obaveznoBrisanje = true"
        />

        <q-dialog
          v-model="obaveznoBrisanje"
          persistent
          transition-show="scale"
          transition-hide="scale"
        >
          <q-card class="bg-teal text-white" style="width: 500px">
            <q-card-section>
              <div class="text-h6">
                Jeste li sigurni da želite izbrisati ovaj folder i sve
                fotografije koje se nalaze u njemu?
              </div>
            </q-card-section>

            <q-card-actions align="right" class="bg-white text-teal">
              <q-btn
                icon="delete"
                color="red"
                label="Da"
                v-close-popup="2"
                @click="brisanjeMape()"
              />
              <q-btn flat label="Zatvori" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <q-dialog
          v-model="persistent"
          persistent
          transition-show="scale"
          transition-hide="scale"
        >
          <q-card class="bg-teal text-white" style="width: 300px">
            <q-card-section>
              <div class="text-h6">Upload slike</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-file
                outlined
                v-model="state.slika"
                accept="image/*"
                @update:model-value="onImgSelect()"
              >
                <template v-slot:prepend>
                  <q-icon name="attach_file" />
                </template>
              </q-file>
              <q-card>
                <q-card-section>
                  <q-img :src="state.slikaUrl" />
                </q-card-section>
              </q-card>
            </q-card-section>

            <q-card-actions align="right" class="bg-white text-teal">
              <q-btn flat label="zatvori" v-close-popup />
              <q-btn flat label="spremi" v-close-popup @click="uploadSlike()" />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
      <!-- kraj uploada -->
      <div class="q-pa-md">
        <q-carousel
          :class="fullscreen ? '' : 'visina'"
          swipeable
          :autoplay="autoplay"
          transition-prev="slide-right"
          transition-next="slide-left"
          @mouseenter="autoplay = false"
          @mouseleave="autoplay = true"
          arrows
          control-color="blue"
          animated
          v-model="slide"
          v-model:fullscreen="fullscreen"
          thumbnails
          infinite
          v-if="state.listaSlika.length > 0"
        >
          <q-carousel-slide
            v-for="(slika, index) in state.listaSlika"
            v-bind:key="slika"
            class="contain"
            :name="index"
            :img-src="slika.url"
          >
            <q-btn
              style="z-index: 9999"
              class="absolute-bottom-left"
              round
              color="red"
              icon="delete"
              @click="brisanjeSlike(slika.naziv)"
            />
          </q-carousel-slide>
          <template v-slot:control>
            <q-carousel-control position="bottom-right" :offset="[18, 18]">
              <q-btn
                push
                round
                dense
                color="white"
                text-color="primary"
                :icon="fullscreen ? 'fullscreen_exit' : 'fullscreen'"
                @click="fullscreen = !fullscreen"
              />
            </q-carousel-control>
          </template>
        </q-carousel>
      </div>
    </div>
  </div>
</template>
<script>
import { doc, getDoc, deleteDoc } from "@firebase/firestore";
import { auth, db, storage } from "src/boot/firebase";
import { defineComponent, reactive, onMounted, ref } from "vue";
import { signOut } from "@firebase/auth";
import { useRouter } from "vue-router";
import {
  uploadBytes,
  ref as firebaseRef,
  listAll,
  getDownloadURL,
  deleteObject,
} from "@firebase/storage";

export default defineComponent({
  name: "PregledSlika",
  components: {},
  props: ["mapa"],
  setup(props) {
    const state = reactive({
      ime: "",
      id_clouda: null,
      naziv: "",
      slika: null,
      slikaUrl: "",
      listaSlika: [],
      trenutniUrl: "test",
    });
    const router = useRouter();

    const dohvatiIdClouda = async () => {
      let id_korisnika = auth.currentUser.uid;
      const korisnikRef = doc(db, "korisnik", id_korisnika);
      const docSnap = await getDoc(korisnikRef);
      state.id_clouda = docSnap.data().id_clouda;
      state.ime = docSnap.data().ime;
      dohvatiNazivClouda();
    };

    const dohvatiNazivClouda = async () => {
      const docRef = doc(db, "cloud", state.id_clouda);
      const docSnap = await getDoc(docRef);
      state.naziv = docSnap.data().naziv;
    };
    const dohvatiNaziveSlika = () => {
      state.listaSlika = [];
      const listRef = firebaseRef(storage, props.mapa.to);
      listAll(listRef)
        .then((res) => {
          const naziviUcitanihSlika = [];
          res.items.forEach((itemRef) => {
            naziviUcitanihSlika.push(itemRef._location.path_);
          });
          dohvatiURLSlika(naziviUcitanihSlika);
        })
        .catch((error) => {
          console.log(error);
        });
    };
    const dohvatiURLSlika = (naziviUcitanihSlika) => {
      naziviUcitanihSlika.forEach((slika) => {
        getDownloadURL(firebaseRef(storage, slika))
          .then((url) => {
            state.listaSlika.push({ url, naziv: slika });
          })
          .catch((error) => {
            console.log(error);
          });
      });
    };
    onMounted(() => {
      dohvatiIdClouda();
      dohvatiNaziveSlika();
    });

    const odjava = () => {
      signOut(auth)
        .then(() => {
          router.push("/prijava");
        })
        .catch((error) => {
          console.log("Greska kod odjave");
        });
    };
    const uploadSlike = () => {
      const randomIme = (Math.random() + 1).toString(36).substring(7);
      const storageRef = firebaseRef(storage, props.mapa.to + "/" + randomIme);

      uploadBytes(storageRef, state.slika).then((snapshot) => {
        dohvatiNaziveSlika();
      });
      state.slika = null;
      state.slikaUrl = "";
    };

    const onImgSelect = () => {
      state.slikaUrl = URL.createObjectURL(state.slika);
    };
    
    const brisanjeSlike = (naziv) => {
      const desertRef = firebaseRef(storage, naziv);
      deleteObject(desertRef)
        .then(() => {
          state.listaSlika = state.listaSlika.filter((s) => s.naziv !== naziv);
        })
        .catch((error) => {});
    };
    const brisanjeMape = async () => {
      await deleteDoc(doc(db, "mape", props.mapa.id));
    };

    return {
      odjava,
      state,
      persistent: ref(false),
      obaveznoBrisanje: ref(false),
      fullscreen: ref(false),
      autoplay: ref(true),
      uploadSlike,
      onImgSelect,
      slide: ref(1),
      brisanjeSlike,
      brisanjeMape,
    };
  },
});
</script>
<style>
.contain {
  background-size: contain;
  background-repeat: no-repeat;
}
.visina {
  height: 75vh;
  width: 90vw;
  max-width: 100%;
}
</style>
